footer.footer 
    div.footer__logo 
        img(src="/assets/image/logo-green.png" alt='Natour logo')
    ul.footer__nav 
        li: a(href="#") About Us 
        li: a(href="#") Download Apps 
        li: a(href="#") Become a guide
        li: a(href="#") Careers 
        li: a(href="#") Contact
    p.footer__copyright &copy; 2022 by Huu Luong. Feel free to use this project for your pwn purposes, EXCEPT producing your own course or tutorials!

