doctype html
html(lang="en")
	head
		block head
			meta(charset="UTF-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name="viewport", content="width=device-width, initial-scale=1.0")
			link(rel="stylesheet", href="/assets/css/style.css")
			link(rel="shortcut icon", href="/assets/image/favicon.png", type="image/png")
			link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,700",rel="stylesheet")
			title Natours | #{title}
	body 
		//- Header 
		include _header

		//- content
		block content 
			h1 This is a placeholder heading


		//- Footer
		include _footer
		//- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>	
		//- script(src='/assets/js/mapbox.js')
		//- script(src='/assets/js/login.js')
		script(src='/assets/js/bundle.js')
		
